#  Files to ignore, no matter where they are
*.h5ad
*.rda
*.Rhistory
*.xml
*.iml

*/code/*/__pycache__

tangram_libd/raw-data

spagcn/processed-data/*/*.csv
spagcn/plots/*/coord_test*.jpg

spagcn/raw-data/01-explore_test_data
spagcn/processed-data/01-explore_test_data/151673_map.jpg

spython/spagcn/plots/03-our_data_analysis/*/coord_test.jpg
spython/spagcn/processed-data/03-our_data_analysis/*/adj.csv
