*mri.tgz
*bam
*bam.bai
*h5
analysis
*spatial_enrichment.csv
*cloupe
SPATIAL_RNA_COUNTER_CS
*.gz
spot_deconvo/02-cellpose/masks
spot_deconvo/02-cellpose/Br*
spot_deconvo/01-tangram
spot_deconvo/03-cell2location/*.log
spot_deconvo/03-cell2location/*/*.h5ad
spot_deconvo/03-cell2location/*/adata_*/model.pt
spot_deconvo/04-spotlight/IF
spot_deconvo/04-spotlight/nonIF
synapse_upload/03-download
